/* -------  CLASSI UTILITY --------- */
* {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.f-left {
    float: left;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}


/* ------ / CLASSI UTILITY --------- */

body {
    background-color: #333;
}

.container {
    color: white;
    text-align: center;
    height: 90vh;
}

/* ------   HEADER --------- */
header {
    height: 50px;
    padding: 10px;
    border-bottom: blanchedalmond 2px solid;
}

header h1 {
    font-size: 30px;
}
/* ------ / HEADER --------- */


/* ------   MAIN --------- */

main {
    height: calc(100% - 50px);
    
}
nav {
    width: 60px;
    height: 100%;
    border-right: 2px white solid;
    padding: 5px;

}
article {
    width: calc(100% - 60px);
    height: 100%;
    padding: 15px;
   
}

#button-output {
    max-height: 100%;
    overflow-y: auto;
}
.button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 3px;
    border: black 1px solid;
}
.button:hover {
    cursor: pointer;
}

.grid-box {
    background-color: white;
    height: 100%;
    max-width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
#grid-output {
    padding: 20px;
    display: flex;
    justify-content: center;

}

.box {
    height: 25px;
    width: 25px;
    border: 1px black solid;
}
.box:hover {
    cursor: pointer;
}
/* ------ / MAIN --------- */




