/* -----   CLASSI UTILITY -------------- */
* {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.box {
    width: 20px;
    height: 20px;
    border: 1px black solid;
}


.clearfix {
    clear: both;
    content: "";
    display: table;
}
/* ----- / CLASSI UTILITY -------------- */

body {
    background-color: #333;
    color: #fff
}

/* -----   HEADER -------------- */

header {
    height: 30px;
    padding: 4px;
    border-bottom: white 2px solid ;
    line-height: 50px;
    position: relative;
}

header h1 {
    font-size: 16px;
}

header h3 {
    display: none;
}

#question {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 30px;
}

#question-box {
    color: black;
    
    width:500px;
    border: black 4px solid;
    background-color:white;
    opacity: 0.95;
    padding: 40px;
    font-size: 25px;
    position: absolute;
    top: 25px;
    right: 25px;
}

#question-box.none {
    display: none;
    transition: 1s;
}

#exit {
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 30px;
    color: black;
}
#exit:hover,
#question:hover {
    cursor: pointer;
}

/* ----- / HEADER -------------- */

main {
    height: calc(100vh - 50px);
    padding: 4px;
}

/* -----   NAV ----------------- */
nav {
    float: left;
    height: 100%;
    width: 50px;
    padding: 3px;
}
#button-output {
    max-height: 100%;
    overflow-y: auto;
}
.button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 3px;
    border: black 1px solid;
}
.button:hover {
    cursor: pointer;
}
/* ----- / NAV ----------------- */

/* -----   ARTICLE ------------- */
article {
    height: 100%;
    padding: 10px 3px;
    float: left;
    width: calc(100% - 50px)
}
.grid-box {
    background-color: white;
    height: 100%;
    max-width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
#grid-output {
    padding: 20px;
    display: flex;
    justify-content: center;
}
#grid-output:hover {
    cursor: cell;
}
/* ----- / ARTICLE ------------- */

/* --------------------------------- */
/* ------- MEDIAKIT MEDIUM (<=768px) */

@media screen and (min-width: 768px) {
  
    header {
        height: 100px;
        padding: 10px;
        line-height: 40px;
    }
        
    header h1 {
        font-size: 40px;
    }
    header h3 {
        display: block;
        font-size: 20px;
    }

    main {
        padding: 15px;
        height: calc(100vh - 180px);
        width: 100%;
    }

    nav {
        position:fixed;
        bottom: 0px;
        left: 0;

        height: 70px;
        width: 100%;
        background-color: #333;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #button-output {
        overflow-y: hidden;
    }

    .box {
        height: 25px;
        width: 25px;
    }

}