* {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
    background-color: #333;
}

.container {
    color: white;
    text-align: center;
}

/* ------   HEADER --------- */
header {
    height: 100px;
    border-bottom: blanchedalmond 2px solid;

}
/* ------ / HEADER --------- */


/* ------   MAIN --------- */
main {
    max-height: calc(100vh - 200px);
    border-bottom: blanchedalmond 2px solid;
    
}
.scroll-box {
    max-width: 100%;
    max-height: calc(100vh - 200px);
    overflow: auto;
    background-color: white;
    padding: 20px;
}
#grid-output {
 
    

}

.box {
    height: 30px;
    width: 30px;
    border: 1px black solid;
}
.box:hover {
    cursor: pointer;
}
/* ------ / MAIN --------- */

/* ------   NAV --------- */
nav {
    height: 100px;
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 100px;
}

.button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    border: black 1px solid;
    vertical-align: middle;
}
/* ------ / NAV --------- */

/* box */


/* bottoni */


